<section class="hero text-center">
    <div class="container">
        <header>
            <img src="" alt=""/>
            <h1>Magic Bucket</h1>

            <ul class="socials list-unstyled list-inline">
                {% for social in site.data.collective.socials %}
                    <li>
                        <a class="link-icon" href="{{ social.link }}">
                            <span class="icon-{{ social.name|downcase }}"></span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </header>

        <nav>
            <ul class="list-unstyled list-inline">
                <!--<li><a href="#">Nos Projets</a></li>-->
                <li><a href="#team">L'équipe</a></li>
                <li><a href="#contact">Nous Contacter</a></li>
            </ul>
        </nav>
    </div>
</section>