<section class="hero text-center">
    <div class="container">
        <header>
            <img src="" alt=""/>
            <h1>Magic Bucket</h1>

            <ul class="socials list-unstyled list-inline">
                <li><a class="link-icon" href="http://facebook.com/magicbucketteam"><span class="icon-facebook"></span></a></li>
                <li><a class="link-icon" href="http://twitter.com/magicbucketteam"><span class="icon-twitter"></span></a></li>
            </ul>
        </header>

        <nav>
            <ul class="list-unstyled list-inline">
                <li><a href="#">Nos Projets</a></li>
                <li><a href="#">L'équipe</a></li>
                <li><a href="#">Nous Contacter</a></li>
            </ul>
        </nav>
    </div>
</section>