<section class="section">
    <div class="container text-center">
        <h3>Bienvenue chez Magic Bucket</h3>

        <div class="center">
            <p>
                <strong>Magic Bucket</strong> est un collectif qui réunit une bande de potes, amoureux du web et de l'interactif en général.
                Il se compose de <strong>Thomas Blondel</strong>, <strong>Donovan Levain</strong>, <strong>Fabrice Payet</strong> et <strong>Gabin Aureche</strong>.
                Nous avons décidé de nous réunir pour mettre nos compétences en commun et <strong>concrétiser toutes ces idées</strong> qui nous trottent dans la tête.
            </p>

            <p>
                <strong>Restez connectés</strong> pour suivre notre activité et faire partie des premiers à découvrir nos projets !
            </p>
        </div>
    </div>
</section>