<section class="section">
    <div class="container text-center">
        <h3>Bienvenue chez Magic Bucket</h3>

        <p class="p-center">
            Magic Bucket est un collectif qui réunit une bande de potes, amoureux du web et de l'interactif en général.
            Il se compose de Thomas Blondel, Donovan Levain, Fabrice Payet et Gabin Aureche. Nous avons décider de nous
            réunir pour mettre nos compétences en commun et concrétiser toutes ces idées qui nous trottent dans la tête.
            Restez connecté pour suivre notre activité et faire partie des premiers à découvrir nos projets !
        </p>
    </div>
</section>