<section class="team section">
    <div class="container text-center">
        <h2>L'équipe</h2>

        <p>Lorem ipsum dolor sit amet.</p>

        <ul class="members list-unstyled list-inline">
            <li><a href="#"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg" alt="Gabin Aureche"/></a></li>
            <li><a href="#"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg" alt="Fabrice Payet"/></a></li>
            <li><a href="#"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg" alt="Donovan Levain"/></a></li>
            <li><a href="#"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg" alt="Thomas Blondel"/></a></li>
        </ul>

        <article>
            <h3>John Doe</h3>

            <p class="p-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores assumenda est eveniet ex.</p>

            <ul class="socials list-unstyled list-inline">
                <li><a href="#"><span class="icon-facebook"></span></a></li>
                <li><a href="#"><span class="icon-twitter"></span></a></li>
                <li><a href="#"><span class="icon-github"></span></a></li>
            </ul>
        </article>
    </div>
</section>