<section>
    <div class="container text-center">
        <h2>L'équipe</h2>

        <p>Lorem ipsum dolor sit amet.</p>

        <ul class="list-unstyled list-inline">
            <li><a href="#"><img src="" alt="Gabin Aureche"/></a></li>
            <li><a href="#"><img src="" alt="Fabrice Payet"/></a></li>
            <li><a href="#"><img src="" alt="Donovan Levain"/></a></li>
            <li><a href="#"><img src="" alt="Thomas Blondel"/></a></li>
        </ul>

        <article>
            <h1>Gabin Aureche</h1>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores assumenda est eveniet ex.</p>

            <ul class="list-unstyled list-inline">
                <li><a href="#">F</a></li>
                <li><a href="#">T</a></li>
                <li><a href="#">G</a></li>
            </ul>
        </article>
    </div>
</section>