<section id="team" class="team section">
    <div class="container text-center">
        <h2>L'équipe</h2>

        <!--<p>Lorem ipsum dolor sit amet.</p>-->

        <ul class="members list-unstyled list-inline">
            {% for mate in site.data.team %}
                <li>
                    <a href="#" data-mate="{{ mate.firstname|downcase }}"><img src="{{ mate.img }}" alt="{{ mate.firstname }} {{ mate.lastname }}"/></a>
                </li>
            {% endfor %}
        </ul>

        <div class="mates">
            {% for mate in site.data.team %}
                <article class="mate" data-mate="{{ mate.firstname|downcase }}">
                    <h3>{{ mate.firstname }} {{ mate.lastname }}</h3>

                    <p class="center">{{ mate.introduction }}</p>

                    <ul class="socials list-unstyled list-inline">
                        {% for social in mate.socials %}
                            <li><a href="{{ social.link }}"><span class="icon-{{ social.name|downcase }}"></span></a></li>
                        {% endfor %}
                    </ul>
                </article>
            {% endfor %}
        </div>
    </div>
</section>