.form-group {
  margin-bottom: 30px;
}

.control-label {
  font-weight: $base-font-weight;
  margin-bottom: 12px;
}



.form-control,
.form-control:focus {
  box-shadow: none;
}

.form-control:focus {
  color: $text-color;
  background-color: $input-bg-hover;
}


textarea {
  max-width: 100%;
  max-height: 300px;
}