.hero {
  @extend .bg-cover;
  color: #fff;
  background-image: url('../images/hero-bg.jpg');
  padding-top: 80px;



  a {
    @extend .link-white;
    font-size: $font-size-medium;
  }


  h1 {
    opacity: .8;
  }


  .socials {
    margin: 40px 0 60px 0;

    a {
      @extend .link-white;
    }
  }


  nav {
    font-weight: $base-font-weight-light;

    li {
      padding: 0 25px;
    }
  }
}