.section {
  padding: $spacing-section 0;
}


.quote {
  @extend .bg-cover;
  background-color: #333;
  display: table;
  width: 100%;
  height: 250px;

  h4, .h4 {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    opacity: .8;
  }

  &.quote__1 {
    background-image: url('../images/quote-1.png');
  }

  &.quote__2 {
    background-image: url('../images/quote-2.png');
  }
}


.members {
  $img-width: 140px;
  $img-height: $img-width;

  margin-bottom: $spacing-inner;

  li {
    padding: 0 20px;
    margin-bottom: 20px;
  }

  img {
    border-radius: 100%;
    width: $img-width;
    height: $img-height;
    border: 4px solid $brand-secondary;
    opacity: .8;
    transition: all 1s ease;
  }

  a {
    &.active,
    &:hover,
    &:focus {
      img {
        border-color: $brand-primary;
        opacity: 1;
      }
    }
  }
}



.mates {
  position: relative;
}

.mate {
  position: absolute;
  top: -10px;
  opacity: 0;

  &.active {
    position: relative;
    top: 0;
    opacity: 1;
    transition: all 1s;
  }

  h3, .h3, p {
    margin-bottom: 20px;
  }
}


.socials {
  a {
    font-size: $font-size-icon;
    color: $gray;

    &:hover {
      color: $brand-primary;
      text-decoration: none;
    }
  }
}



.contact .form {
  margin-bottom: $spacing-section / 2;
}

.brand-dark {
  background-color: $brand-dark;
  color: #fff;
}

.brand-darker {
  background-color: $brand-darker;
  color: #fff;
}

footer {
  font-size: $font-size-small;

  p {
    margin: 0;
  }

  .brand-dark {
    padding: $spacing-inner 0;
  }

  .brand-darker {
    padding: $spacing-close 0;
  }
}