h1, .h1,
h2, .h2,
h3, .h3,
h5, .h5 {
  text-transform: uppercase;
}

h2, .h2 {
  margin: 0 0 ($spacing-close*2) 0;
  display: inline-block;
  padding: 0 0 6px 0;
  color: $brand-secondary;
  border-bottom: 3px solid $gray-lighter;
}

h3, .h3 {
  margin: 0 0 $spacing-close 0;
  color: $brand-primary;
}

h4, .h4 {
  font-weight: $headings-font-weight-light;
}

h5, .h5 {
  //font-weight: $headings-font-weight-normal;
}

p {
  margin-bottom: $spacing-close;
}

.p-far {
  margin-bottom: $spacing-inner;
}

.center {
  @extend .text-center;

  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}